*
{
	margin:0px;
	padding:0px;
}

.menu li
{
	float:left;
	list-style:none;
	margin:10px 25px;
}

.menu
{
	margin:0 auto;
	display:table;
}
.blok-menu
{
	overflow: hidden;
	background:#444444;
	box-shadow: 0px 13px 17px -6px #000000;
}
.menu li a
{
	font:18px Verdana, Arial, Helvetica, sans-serif;
	color: #fff ;
	text-decoration: none;
}
.menu li a:hover
{
	font: 18px Verdana, Arial, Helvetica, sans-serif ;
	color: #ccc;
	border-bottom: 1px dotted #ccc;
}
.logo
{
	margin: 0px auto;
	width: 200px;
	margin-top: 30px;
	margin-bottom: 30px
}
.logo img
{
	border-radius: 1000px; /* Радиус скругления */
    border: 3px solid orange; /* Параметры рамки */
    box-shadow: 0 0 7px #666;
}
.content
{
	width:1000px;
	margin:0 auto;
	padding:20px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .3), -23px 0 20px -23px rgba(0, 0, 0, .8), 23px 0 20px -23px rgba(0, 0, 0, .8), 0 0 40px rgba(0, 0, 0, .1) inset;
}
.content h2
{
	padding:20px;
	font: 30px Verdana, Arial, Helvetica, sans-serif;
	color:#444;
	text-align:center;
}
.content p
{
font: 14px Verdana, Arial, Helvetica, sans-serif;
color:#444;
text-indent:20px;
}
/*.content p strong
{
	text-align:center;
}*/
.content ul
{
	padding: 0; /* Убираем поля */
    margin-left: 40px; /* Отступ слева */
}
.content ul li
{
	color:#ff3300;
}
.footer
{
width:100%;
text-align:center;
margin-top:20px;
}
.footer p, .footer a
{
font: 14px Verdana, Arial, Helvetica, sans-serif;
color:#444;
}
 
.footer a
{
text-decoration: none;
border-bottom:1px dotted #444;
}
 
.footer a:hover
{
text-decoration: none;
border:0px;
}